body {
  background-color: #f8f0ee;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.question {
  font-size: 24px; /* Make the question text larger */
  margin-bottom: 20px;
  font-weight: bold;
}

.score {
  position: absolute; /* Position it in the upper right corner */
  top: 20px;
  right: 20px;
  font-size: 18px;
}

.options-list {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  width: 500px;
}

.option {
  background-color: white; /* White background for each option */
  border-radius: 5px; /* Rounded corners */
  padding: 15px; /* Add padding */
  margin: 10px 0; /* Space between options */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #fff9f9; /* Change background on hover */
}

.result-container {
  text-align: center;
  /*border: 1px solid #ddd; /* Border around the result */
  height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.try-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cc8c8c; /* Button color */
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s;
}

.try-again-button:hover {
  background-color: #9d6767; /* Darker on hover */
}
